<!doctype html>
<html lang="en" ng-app="edh" ng-controller="MainController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title ng-bind="pageTitle"></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../node_modules/ng-swippy/ngswippy.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="text-center">
            <h1>EDH App</h1>
            <form>
                <label>CMC: <input type="number" ng-model="input.cmc"/></label><br />
                <!-- <ul>
                    <li ng-repeat="colorIdentity in colorIdentities track by $index">
                        <label>
                            <input
                                type="checkbox"
                                name="colorIdentities[]"
                                value="{{colorIdentity}}"
                                ng-checked="selection.indexOf(colorIdentity) > -1"
                                ng-click="toggleSelection(colorIdentity)"/> {{ ::colorIdentity}}
                        </label>
                    </li>
                </ul> -->
                <button class="btn btn-primary"
                    ng-click="search(input)">Search</button>
            </form>
            
            <ng-swippy ng-if="hasSearchResults"
                collection='itemsCollection' 
                width='{{size.width}}px' 
                height='{{size.height}}px' 
                item-click='cardClicked' 
                data='showInfo' 
                collection-empty='swipeend' 
                swipe-left='swipeLeft' 
                swipe-right='swipeRight'
                cards-number='itemsCollection.length' 
                label-ok='Cool'
                label-negative='Bad'>
            </ng-swippy>

            <div ng-show="hasSearchResults">
                <label for="likedCards">
                    Liked Cards
                </label>
                <ul id="likedCards">
                    <li ng-repeat="likedCard in likedCards">{{ likedCard.title }}</li>
                </ul>

                <label for="dislikedCards">
                    Disliked Cards
                </label>
                <ul id="dislikedCards">
                    <li ng-repeat="dislikedCard in dislikedCards">{{ dislikedCard.title }}</li>
                </ul>
            </div>
        </div>

        <script src="../node_modules/angular/angular.js"></script>
        <script src="../node_modules/angular-touch/angular-touch.min.js"></script>
        <script type="text/javascript" src="../node_modules/ng-swippy/ng-swippy.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="cardService.js"></script>
    </body>
</html>